/* Padding */
.padding-small {
    padding: 4px 8px!important
}
.padding {
    padding: 8px 16px!important
}
.padding-large {
    padding: 12px 24px!important
}
.padding-16 {
    padding-top: 16px!important;
    padding-bottom: 16px!important
}
.padding-24 {
    padding-top: 24px!important;
    padding-bottom: 24px!important
}
.padding-32 {
    padding-top: 32px!important;
    padding-bottom: 32px!important
}
.padding-48 {
    padding-top: 48px!important;
    padding-bottom: 48px!important
}
.padding-64 {
    padding-top: 64px!important;
    padding-bottom: 64px!important
}