.row-padding,
.row-padding > .half,
.row-padding > .third,
.row-padding > .twothird,
.row-padding > .threequarter,
.row-padding > .quarter,
.row-padding > .col {
    padding: 0 8px
}

.col,
.half,
.third,
.twothird,
.threequarter,
.quarter {
    float: left;
    width: 100%
}


.rest {
    overflow: hidden
}

.image {
    max-width: 100%;
    height: auto
}

.content {
    max-width: 980px;
    margin: auto
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium {
        display: none!important
    }
}


.col.s1 {
    width: 8.33333%
}
.col.s2 {
    width: 16.66666%
}
.col.s3 {
    width: 24.99999%
}
.col.s4 {
    width: 33.33333%
}
.col.s5 {
    width: 41.66666%
}
.col.s6 {
    width: 49.99999%
}
.col.s7 {
    width: 58.33333%
}
.col.s8 {
    width: 66.66666%
}
.col.s9 {
    width: 74.99999%
}
.col.s10 {
    width: 83.33333%
}
.col.s11 {
    width: 91.66666%
}
.col.s12 {
    width: 99.99999%
}
@media (min-width:601px) {
    .col.m1 {
        width: 8.33333%
    }
    .col.m2 {
        width: 16.66666%
    }
    .col.m3,
    .quarter {
        width: 24.99999%
    }
    .col.m4,
    .third {
        width: 33.33333%
    }
    .col.m5 {
        width: 41.66666%
    }
    .col.m6,
    .half {
        width: 49.99999%
    }
    .col.m7 {
        width: 58.33333%
    }
    .col.m8,
    .twothird {
        width: 66.66666%
    }
    .col.m9,
    .threequarter {
        width: 74.99999%
    }
    .col.m10 {
        width: 83.33333%
    }
    .col.m11 {
        width: 91.66666%
    }
    .col.m12 {
        width: 99.99999%
    }
}
@media (min-width:993px) {
    .col.l1 {
        width: 8.33333%
    }
    .col.l2 {
        width: 16.66666%
    }
    .col.l3 {
        width: 24.99999%
    }
    .col.l4 {
        width: 33.33333%
    }
    .col.l5 {
        width: 41.66666%
    }
    .col.l6 {
        width: 49.99999%
    }
    .col.l7 {
        width: 58.33333%
    }
    .col.l8 {
        width: 66.66666%
    }
    .col.l9 {
        width: 74.99999%
    }
    .col.l10 {
        width: 83.33333%
    }
    .col.l11 {
        width: 91.66666%
    }
    .col.l12 {
        width: 99.99999%
    }
}