
/**/
.left-align {
    text-align: left!important
}
.right-align {
    text-align: right!important
}
.justify {
    text-align: justify!important
}


/**/
.center {
    text-align: center!important
}
.left {
    float: left!important
}
.right {
    float: right!important
}

/**/
.hide {
    display: none!important
}
.show-block,
.show {
    display: block!important
}
.show-inline-block {
    display: inline-block!important
}

/**/
.top,
.bottom {
    position: fixed;
    width: 100%;
    z-index: 1
}
.top {
    top: 0
}
.bottom {
    bottom: 0
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2
}
.display-topleft {
    position: absolute;
    left: 0;
    top: 0
}
.display-topright {
    position: absolute;
    right: 0;
    top: 0
}
.display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}
.display-bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}
.display-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}
.display-right {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}
.display-topmiddle {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}
.display-bottommiddle {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}
.display-container:hover .display-hover {
    display: block
}
.display-container:hover span.display-hover {
    display: inline-block
}
.display-hover {
    display: none
}
.display-position {
    position: absolute
}

.display-container {
    position: relative
}

.circle {
    border-radius: 50%
}