.table,
.table-all {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table
}
.table-all {
    border: 1px solid #ccc
}
.bordered tr,
.table-all tr {
    border-bottom: 1px solid #ddd
}
.striped tbody tr:nth-child(even) {
    background-color: #f1f1f1
}
.table-all tr:nth-child(odd) {
    background-color: #fff
}
.table-all tr:nth-child(even) {
    background-color: #f1f1f1
}

.hoverable tbody tr:hover,
.ul.hoverable li:hover {
    background-color: #ccc
}
.centered tr th,
.centered tr td {
    text-align: center
}
.table td,
.table th,
.table-all td,
.table-all th {
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top
}
.table th:first-child,
.table td:first-child,
.table-all th:first-child,
.table-all td:first-child {
    padding-left: 16px
}