
.text-red,
.hover-text-red:hover {
    color: #f44336!important
}
.text-green,
.hover-text-green:hover {
    color: #4CAF50!important
}
.text-blue,
.hover-text-blue:hover {
    color: #2196F3!important
}
.text-yellow,
.hover-text-yellow:hover {
    color: #ffeb3b!important
}
.text-white,
.hover-text-white:hover {
    color: #fff!important
}
.text-black,
.hover-text-black:hover {
    color: #000!important
}
.text-grey,
.hover-text-grey:hover,
.text-gray,
.hover-text-gray:hover {
    color: #757575!important
}
.text-amber {
    color: #ffc107!important
}
.text-aqua {
    color: #00ffff!important
}
.text-light-blue {
    color: #87CEEB!important
}
.text-brown {
    color: #795548!important
}
.text-cyan {
    color: #00bcd4!important
}
.text-blue-grey,
.text-blue-gray {
    color: #607d8b!important
}
.text-light-green {
    color: #8bc34a!important
}
.text-indigo {
    color: #3f51b5!important
}
.text-khaki {
    color: #b4aa50!important
}
.text-lime {
    color: #cddc39!important
}
.text-orange {
    color: #ff9800!important
}
.text-deep-orange {
    color: #ff5722!important
}
.text-pink {
    color: #e91e63!important
}
.text-purple {
    color: #9c27b0!important
}
.text-deep-purple {
    color: #673ab7!important
}
.text-sand {
    color: #fdf5e6!important
}
.text-teal {
    color: #009688!important
}
.text-light-grey,
.hover-text-light-grey:hover,
.text-light-gray,
.hover-text-light-gray:hover {
    color: #f1f1f1!important
}
.text-dark-grey,
.hover-text-dark-grey:hover,
.text-dark-gray,
.hover-text-dark-gray:hover {
    color: #3a3a3a!important
}