html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}
html {
    overflow-x: hidden
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 20px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}
.serif {
    font-family: serif
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.tiny {
    font-size: 10px!important
}
.small {
    font-size: 12px!important
}
.medium {
    font-size: 15px!important
}
.large {
    font-size: 18px!important
}
.xlarge {
    font-size: 24px!important
}
.xxlarge {
    font-size: 36px!important
}
.xxxlarge {
    font-size: 48px!important
}
.jumbo {
    font-size: 64px!important
}

.wide {
    letter-spacing: 4px
}
